@font-face {
    font-family: 'furoreregular';
    src: url('../Suwitan/Font/Furore-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(199, 249, 125);
}

/* judul */
#heading{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    -webkit-text-stroke: 3px black;
	-webkit-text-fill-color: #dedede;
    text-align: center;
    text-shadow: 8px 8px 0 black;
}


/*tubuh*/
.bodi{
    position: relative;
    width: 550px;
    height: 502px;
    margin: auto;
}

.containerbot{
    width: 500px;
    height: 250px;
    border-radius: 30px 30px 0 0;
    background-color: rgb(231, 224, 133);
    margin: 30px auto 1px auto;
    box-shadow: 0 0 5px black;
}

.result{
    width: 120px;
    height: 30px;
    border: 3px solid rgb(235, 185, 93);
    border-radius: 10px;
    background-color: white;
    margin: auto;
    position: absolute;
    left: 213px;
    top: 232px;
    text-align: center;
}

.result span{
    line-height: 30px;
    font-family: 'furoreregular';

}

.containerman{
    width: 500px;
    height: 250px;
    border-radius: 0 0 30px 30px;
    background-color: rgb(231, 133, 133);
    margin: 1px auto 30px auto;
    box-shadow: 0 0 5px black;
}

.containerbot img{
    width: 120px;
    height: 120px;
    display: inline;
    margin: 70px 190px;
}

.containerman img{
    width: 120px;
    height: 120px;
    margin: 70px 22px;
}

li {
    display: inline;
}

li img:active {
    animation: nekan .5s;
}

@keyframes nekan{
    0%{
        transform: scale(0.8);
    }

    100%{
        transform: scale(1);
    }
}